* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  min-height: 100vh;
  padding: 1rem;
}

button {
  cursor: pointer;
}

.page-title {
  display: block;
  margin: 1rem auto 0;
  text-align: center;
}

.main {
  min-height: 10rem;
  margin-bottom: 2rem;
}

.start-screen {
  border: 1px solid black;
  padding: 2rem;
  margin: 2rem;
  border-radius: 4px;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  background-color: black;
  width: 80%;
  max-width: 420px;
  margin: 2rem auto 0;
  gap: 2px;
}

.board-square {
  position: relative;
  background: white;
  min-width: 2rem;
  min-height: 4rem;
  cursor: pointer;
}

.board-square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.board-square__text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  line-height: 0;
  font-size: calc(24px + (58 - 24) * ((100vw - 300px) / (1600 - 300)));
}

.board-square.highlight {
  background: teal;
  color: white;
}