* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding: 1rem;
  transform: scale(.9);
}

input {
  height: 42px;
  padding: .5rem;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin: 1rem .5rem;
  padding: .5rem .75rem;
}

label, input {
  margin: .5rem 1rem;
}

button:first-of-type, .btn:first-of-type, label:first-of-type, input:first-of-type {
  margin-left: 0;
}

button:last-of-type, .btn:last-of-type, label:last-of-type, input:last-of-type {
  margin-right: 0;
}

.btn.alt, .start-screen .start-game-btn[disabled] {
  background: #000000;
}

button.btn.start-game-btn {
  display: block;
  margin: 1rem auto 0;
}

.start-game-btn[disabled] {
  color: #ffffff;
  cursor: not-allowed;
  opacity: .5;
}

button.btn > .material-icons {
  vertical-align: middle;
  margin-left: .5rem;
}

.page-title {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

.start-screen__page-title.page-title {
  font-size: 2rem;
}

.header, .game-status, .board-msg {
  display: block;
  margin: 0 auto;
}

.score-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
}

.tally-wrapper {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tally-wrapper:first-of-type {
  text-align: left;
}

.tally-wrapper:nth-child(2) {
  text-align: center;
}

.tally-wrapper:last-of-type {
  text-align: right;
}

.score-tally__title {
  display: inline-block;
  max-width: 80%;
  font-size: 1.25rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.score-tally {
  vertical-align: super;
}

.game-status, .board-msg {
  text-align: center;
}

.game-status {
  margin: 1rem auto .5rem;
  line-height: 1.25;
  height: 3.75rem;
}

.board-msg {
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: .25rem;
  opacity: 0;
  transition: all ease-in-out .2s;
}

.device {
  position: absolute;
  background-color: black;
  border-radius: 40px;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 760px;
  padding: 18px;
  border: 6px solid #808080;
  border-top-color: #9e9e9e;
  border-left-color: #9e9e9e;
  box-shadow: 3px 2px 5px 2px rgb(0 0 0 / 16%), 24px 12px 42px 0px rgb(0 0 0 / 55%), 34px 22px 82px 0 rgb(0 0 0 / 25%), 84px 62px 52px 0px rgb(0 0 0 / 15%);
  transform: translate3d(-50%, -50%, 0);
}

.device__content-wrapper {
  overflow: hidden;
}

.side-btn {
  display: inline-block;
  position: absolute;
  width: 4px;
  height: 54px;
  background: #bfbfbf;
  top: 144px;
  left: -10px;
}

.side-btn:nth-child(2) {
  background: #b9b9b9;
  top: 206px;
}

.side-btn:nth-child(3) {
  background: #424040;
  height: 74px;
  left: unset;
  top: 164px;
  right: -10px;
}

.device__reflection-wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.device-reflection {
  /* content: ""; */
  display: block;
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(-90deg, #ffffff26 0%, #ffffff29 10%, transparent 40%);
  transform: rotate(52deg) translate3d(-90%, 0, 2px);
  z-index: 2;
  border: 1px solid #ffffff30;
  pointer-events: none;
}

.device__inner-wrapper > *.show {
  animation: .5s forwards show;
}

.device__inner-wrapper > *.hide {
  animation: .5s forwards hide;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.device__inner-wrapper {
  display: grid;
  width: 200%;
  min-height: 10rem;
  margin: 2rem 0;
  grid-template-columns: repeat(2, 1fr);
}

.device__inner-wrapper.shift {
  animation: .5s forwards shift;
}

.device__inner-wrapper.unshift {
  animation: .5s forwards unshift;
}

@keyframes shift {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes unshift {
  from {
    transform: translate3d(-50%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.start-screen, .play-screen {
  opacity: 0;
}

.start-screen {
  padding-top: 7rem;
  text-align: center;
}

.start-screen-title {
  display: block;
}

.player-names-form > * {
  margin-bottom: .5rem;
}

.player1-name__wrapper, .player2-name__wrapper {
  display: inline-block;
  text-align: left;
}

.player2-name__wrapper {
  margin-left: 1rem;
}

.player-form__btn, .start-game-btn {
  width: 10.25rem;
  height: 42px;
  text-align: center;
  display: inline-block;
}

.player-form__label {
  display: block;
}

.board {
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
  max-width: 420px;
  margin: 1rem auto 0;
}

.board-square {
  position: relative;
  background: white;
  color: #000000;
  font-family: 'Fredoka One', sans-serif;
  min-width: 2rem;
  min-height: 4rem;
  cursor: pointer;
  border-radius: 12px;
  transform: scale(0);
  transition: all ease-in-out .25s;
}

.board-square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.board-square.scale-1 {
  transform: scale(1);
}

.board-square.scale-1.square-click {
  animation: .5s ease-out forwards wigglyClick;
}

@keyframes wigglyClick {
  0%   {
    transform: scale(1);
  }
  25%  {
    transform: scale(.85);
  }
  50%  {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.board-square__text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  line-height: 0;
  font-size: calc(48px + (72 - 48) * ((100vw - 300px) / (1600 - 300)));
}

.board-square.highlight {
  background: #272727;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.btn.new-game-btn {
  display: block;
  margin: 2rem auto;
}

.opacity-1 {
  opacity: 1;
}

.flash-text {
  animation: .25s linear 6 alternate flashText;
}

@keyframes flashText {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 375px) {
  body {
    min-height: unset;
    margin: 0;
    padding: 0;
    background: #000000;
  }
  .device {
    box-shadow: none;
    border: none;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .device__inner-wrapper {
    margin: 1rem 0;
  }
  button, label, input {
    font-size: 1.25rem;
  }
  input {
    height: 3.25rem;
  }
  .side-btns, .device__reflection-wrapper {
    display: none;
  }
  .start-screen {
    padding-top: 1rem;
  }
  .start-screen > button {
    margin: 2rem 0;
    display: block;
    width: 100%;
    height: 3.5rem;
  }
  .start-screen .player-names-form .player-form__name-wrapper {
    margin: .5rem 0;
    width: 100%;
  }
  .start-screen .player-names-form .player-form__name-wrapper .player-name {
    display: block;
    width: 100%;
    margin-bottom: 0;
  }
}

.hidden {
  display: none;
}