* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  min-height: 100vh;
  padding: 1rem;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin: .25rem;
  padding: .5rem .75rem;
}

.btn:first-of-type {
  margin-left: 0;
}

.btn:last-of-type {
  margin-right: 0;
}

.btn.alt {
  background: #000000;
}

.page-title {
  display: block;
  margin: 1rem auto 0;
  text-align: center;
}

.header, .game-status, .board-msg {
  display: block;
  width: 80%;
  max-width: 420px;
  margin: 0 auto;
}

.device__inner-wrapper {
  display: grid;
  width: 200%;
  min-height: 10rem;
  margin: 2rem 0;
  grid-template-columns: repeat(2, 1fr);
}

.device__inner-wrapper.shift {
  animation: .5s forwards shift;
}

@keyframes shift {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.device__inner-wrapper.unshift {
  animation: .5s forwards unshift;
}

@keyframes unshift {
  from {
    transform: translate3d(-50%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.start-screen, .play-screen {
  margin: 0 2rem;
  min-height: 530px;
}

.start-screen {
  background: red;
  margin-right: 2rem;
}

.play-screen {
  background: blue;
  margin-left: 2rem;
}

.device {
  position: relative;
  background-color: black;
  border-radius: 40px;
  margin: 3rem auto;
  max-width: 600px;
  padding: 18px;
  border: 6px solid #808080;
  border-top-color: #9e9e9e;
  border-left-color: #9e9e9e;
  box-shadow: 3px 2px 5px 2px rgb(0 0 0 / 16%), 24px 12px 32px 0px rgb(0 0 0 / 50%), 34px 22px 52px 0px rgb(0 0 0 / 25%);
  overflow: hidden;
}

.device::before {
  content: "";
  display: block;
  position: absolute;
  width: 200%;
  height: 200%;
  background: linear-gradient(-90deg, #ffffff26 0%, #ffffff29 10%, transparent 40%);
  transform: rotate(52deg) translate3d(-90%, 0, 2px);
  z-index: 2;
  border: 1px solid #ffffff30;
  pointer-events: none;
}

.board {
  display: grid;
  position: relative;
  /* background-color: black; */
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 10px;
  width: 80%;
  max-width: 420px;
  margin: 2rem auto 0;
}

.board-square {
  position: relative;
  background: white;
  color: #000000;
  font-family: 'Fredoka One', sans-serif;
  min-width: 2rem;
  min-height: 4rem;
  cursor: pointer;
  border-radius: 12px;
  transform: scale(0);
}

.board-square::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.reveal {
  animation: .5s forwards revealSquare;
}

@keyframes revealSquare {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.board-square__text {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  line-height: 0;
  font-size: calc(48px + (72 - 48) * ((100vw - 300px) / (1600 - 300)));
}

.board-square.highlight {
  background: #272727;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.opacity-0 {
  opacity: 0;
}

.hidden {
  display: none;
}